@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap');

$font-family: 'Merriweather', serif;

P {
    color: rgb(236, 105, 105);
    font-family: $font-family;
}